/*
0-600px:phone
600-900px:Tablet portrait
900-1200px:Tablet Landscape
[1200-1800] is where our normal styles apply
1800px +:Big desktop
*/
/*
$breakpoint arguement choices
-phone
-tab-part
-tab-land
-big-desktop
1em=16px

*/
@media (max-width: 33.75em) {
  html {
    font-size: 81.25%; } }

@media (max-width: 75em) {
  html {
    font-size: 94.75%; } }

@media (max-width: 60em) {
  html {
    font-size: 87.5%; } }

@media (min-width: 112.5em) {
  html {
    font-size: 87.5%; } }

.nav-user-text {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #1B9AAA;
  color: white;
  text-align: center;
  line-height: 2.5rem; }

.nav-user-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #F5F3F5;
  margin: 0 auto;
  display: block; }

.mynav-bar {
  padding: 0 1rem;
  background: #0CAADC; }

.mynav-dropdown {
  border-radius: 0;
  width: 300px;
  background: #fefefe;
  padding: 0; }

.mynav-user-edit {
  font-size: .8rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
  .mynav-user-edit:link, .mynav-user-edit:active {
    border: 2px solid red;
    border-radius: 3px;
    padding: 3px 5px;
    color: #333; }
  .mynav-user-edit:hover, .mynav-user-edit:visited {
    text-decoration: none;
    border-color: #F5F3F5;
    color: #333; }

.mynav-user-name {
  font-size: 1.2rem;
  margin-top: .5rem;
  font-family: raleway;
  margin-bottom: 5px;
  color: #333; }

.mynav-user-email {
  color: #0CAADC;
  font-family: raleway;
  margin-bottom: 0; }

.mynav-user-gender {
  color: #0CAADC;
  font-family: raleway;
  margin-bottom: 1.5rem !important;
  font-size: .9rem; }

.mynav-user-detail p {
  color: #ccc; }

.bar-side {
  background: #F5F3F5;
  height: 100vh;
  padding: .2rem; }
  .bar-side-list {
    margin: 0;
    padding: 0; }

body {
  background: #fafafa; }

.login-title {
  font-size: 2rem;
  font-family: raleway;
  padding: .5rem 3rem; }
  @media (max-width: 33.75em) {
    .login-title {
      display: block;
      padding: .5rem 1rem; } }

.login-text {
  font-family: raleway; }
  .login-text h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #333;
    margin-bottom: 1.5rem; }
  .login-text p {
    font-size: 1.3rem; }
    .login-text p a:link, .login-text p a:active, .login-text p a:hover, .login-text p a:visited {
      text-decoration: none; }

.login-message {
  font-size: .8rem; }
  @media (max-width: 33.75em) {
    .login-message {
      margin-top: 0 !important; } }

.loginbox-form {
  border-right: 1px solid #ccc;
  padding: 2rem 2rem;
  margin-top: 2rem; }
  .loginbox-form .form-group .form-control {
    border: 0;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 1.1rem; }
    .loginbox-form .form-group .form-control:focus {
      outline: none;
      box-shadow: none; }
  .loginbox-form a:link, .loginbox-form a:active, .loginbox-form a:visited, .loginbox-form ahover {
    color: #2d3030;
    text-decoration: none; }

.loginbox-btn {
  color: #008DD5;
  border: 1px solid #008DD5;
  border-radius: 100px;
  background: #fafafa;
  padding: .3rem 3rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-family: raleway;
  cursor: pointer; }
  .loginbox-btn:focus {
    outline: none; }

.loginbox-sociallink {
  padding: 6rem 4rem; }
  @media (max-width: 75em) {
    .loginbox-sociallink {
      padding: 6rem 2rem; } }
  @media (max-width: 33.75em) {
    .loginbox-sociallink {
      padding: 4rem .5rem;
      padding-bottom: 2rem; } }

.background-1 {
  background: #3b5998; }

.color-1 {
  color: #3b5998; }

.socialbox {
  border: 1px solid #ccc;
  margin-bottom: 2rem; }
  .socialbox span {
    font-weight: 600;
    font-family: raleway;
    letter-spacing: 1px; }
