$gender-female:#EF476F;

$gender-male:#1B9AAA;

$task-body:#F5F3F5;

$task-sidebar:#fafafa;

$text-color:#ccc;

$task-completed:#06D6A0;

$task-warning:#FD151B;
$task-near:#FFC43D;
$nav-background:#0CAADC;
$color-grey:#333;


