$gender-female:#EF476F;

$gender-male:#1B9AAA;

$task-body:#F5F3F5;

$task-sidebar:#fafafa;

$text-color:#ccc;

$task-completed:#06D6A0;

$task-warning:#FD151B;
$task-near:#FFC43D;
$nav-background:#0CAADC;
$color-grey:#333;

$color-theme:#1B9AAA;

.color-theme{color:$color-theme};




.color-bg-1{
    background-color:$gender-female;
}
.color-bg-2{
    background-color:$gender-male;
}
.color-bg-3{
    background-color:$task-near;
}
.color-bg-4{
    background-color:$task-warning;
}



.color-theme-1{
    color:$gender-female;
}
.color-theme-2{
    color:$gender-male;
}
.color-theme-3{
    color:$task-near;
}
.color-theme-4{
    color:$task-warning;
}


